.axure {
  position: relative;
  padding: 57px 0 38px 0;
  background-image: url("../bg/background1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.axure .container {
  position: relative;
  z-index: 2;
}

.axure::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.axure-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.axure-title::after {
  content: "";
  display: block;
  width: 64px;
  height: 1px;
  background-color: white;
  display: block;
  margin: 34px auto 34px;
}

.axure-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 auto 57px;
}
.axure-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border: 1px solid #ffffff;
  width: 40%;
  margin: auto;
}
.axure-link:hover {
  color: #ec7979;
  border: 1px solid #ec7979;
}
.axure-link:active {
  background: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}
