.first-screen {
  position: relative;
  padding: 109px 0 101px 0;
  background-image: url("../bg/background2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.first-screen .container {
  position: relative;
  z-index: 2;
}
.first-screen::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.first-screen-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-around;
  margin: 0 -15px;
}
.first-screen-left-item {
  margin: 0 15px;
}
.first-screen-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;

  color: #ffffff;
  text-transform: uppercase;
}
.first-screen-subtitle::after {
  content: "it";
  color: rgb(207, 97, 115);
}
.first-screen-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  width: 544px;
  color: #ffffff;
  margin-top: 32px;
}
.first-screen-title::after {
  content: "";
  width: 64px;
  height: 2px;
  background-color: palevioletred;
  display: block;
  margin: 32px 0 39px 0;
}
.first-screen-desc {
  font-family: "Raleway", sans-serif;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  margin-bottom: 39px;
  color: rgba(255, 255, 255, 0.8);
}
.first-screen-download {
  border: 1px solid #ffffff;
  width: 135px;
  height: 42px;
  padding: 11px 26px;
}
.first-screen-download-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}
.first-screen-right-item {
  margin: 0 15px;
}
.registration {
  width: 370px;
  background-color: #fff;

  border-radius: 8px;
}
.form-content {
  padding: 20px 40px 10px;
}

.form-title-wrapper {
  margin-bottom: 15px;
  text-align: center;
}

.form-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #333333;
  margin-bottom: 15px;
}
.form-title-psevdoel::after {
  content: "Free";
  display: inline-block;
  color: rgb(207, 97, 115);
}
.form-item {
  width: 100%;
  margin-bottom: 19px;
}
.form-item:last-child {
  margin-bottom: 61px;
}
.form-item-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #bdbdbd;
}
.form-item-input {
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
.first-screen-button {
  width: 100%;
  background-color: rgb(207, 97, 115);
  border: none;
  border-radius: 0px 0px 8px 8px;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 54px;
  cursor: pointer;

  color: #ffffff;
}
