.first-screen {
  position: relative;
  padding: 109px 0 101px 0;
  background-image: url("../bg/background2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.first-screen .container {
  position: relative;
  z-index: 2;
}
.first-screen::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.first-screen-wrapper {
  display: flex;
  flex-direction: row;

  justify-content: space-around;
  margin: 0 -15px;
}
.first-screen-left-item {
  margin: 0 15px;
  width: 50%;
}
.first-screen-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;

  color: #ffffff;
  text-transform: uppercase;
}
.first-screen-subtitle::after {
  content: "it";
  color: #ec7979;
}
.first-screen-title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-top: 32px;
}
.first-screen-title::after {
  content: "";
  width: 170px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  margin: 32px 0 39px 0;
}
.first-screen-desc {
  font-family: "Raleway", sans-serif;

  font-weight: 300;
  line-height: 21px;

  margin-bottom: 42px;
  color: rgba(255, 255, 255, 0.8);
}

.first-screen-download-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border: 1px solid #ffffff;
  width: 50%;
}
.first-screen-download-link:hover {
  color: #ec7979;
  border: 1px solid #ec7979;
}
.first-screen-download-link:active {
  background: #ab4949;
  border: 2px solid #ab4949;
  color: #ffffff;
}
.first-screen-right-item {
  margin: 0 15px;
  width: 30%;
}
.registration {
  background-color: #fff;
  border-radius: 8px;
}
.form-content {
  padding: 20px 40px 10px;
}

.form-title-wrapper {
  margin-bottom: 15px;
  text-align: center;
}

.form-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #333333;
  margin-bottom: 15px;
}
.form-title-psevdoel::after {
  content: "Free";
  display: inline-block;
  color: #ec7979;
  font-size: 20px;
}
.form-item {
  width: 100%;
  margin-bottom: 19px;
}
.form-item:last-child {
  margin-bottom: 61px;
}
.form-item-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;

  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #bdbdbd;
}
.form-item-input {
  width: 100%;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #bdbdbd;
}
.first-screen-button {
  width: 100%;
  background-color: #ec7979;
  border: none;
  border-radius: 0px 0px 0.5rem 0.5rem;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 54px;
  cursor: pointer;

  color: #ffffff;
}
.first-screen-button:hover {
  background: #ab4949;
}
.first-screen-button:active {
  background: #ec7979;
  box-shadow: inset 0px 0px 10px black;
}
