.pricing {
  padding: 80px 0 74px 0;
  background-color: #e5e5e5;
}
.pricing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -15px;
}
.pricing-items {
  width: 33.333%;
}
.pricing-items:hover {
  transform: translateY(-20px);
}
.pricing-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin: 0 15px 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  box-shadow: 0.625rem 0.625rem 0.625rem 0.0625rem grey;
  cursor: pointer;
  padding: 15px;
}

.pricing-item:last-child {
  margin-bottom: 0rem;
}
.pricing-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;

  padding: 13px;
  background: #333333;
}

.pricing-price {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;

  background: #333333;

  padding: 29px;
}

.pricing-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);

  background: #333333;

  padding: 15px;
}
.pricing-desc:hover {
  background-color: orange;
  transform: scale(1.02);
  color: #333333;
}
@media (min-width: 1023px) and (max-width: 1366px) {
  .pricing-wrapper {
    flex-wrap: nowrap;
  }
}
