.pricing {
  padding: 80px 0 74px 0;
  background-color: #e5e5e5;
}
.pricing-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -15px;
}

.pricing-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #86878b;
  margin: 0 15px 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  height: 40px;
  width: 340px;
  box-shadow: 10px 10px 10px 1px grey;
  cursor: pointer;
}
.pricing-item:hover {
  transform: translateY(-10%);
  transition-duration: 1s;
}

.pricing-item:last-child {
  margin-bottom: 0px;
}
.pricing-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;

  background: #333333;

  height: 50px;
}
.pricing-name:hover {
  transform: translateY(5%);
  background-color: orange;
  color: #333333;
}

.pricing-price {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;

  background: #333333;

  height: 100px;
}
.pricing-price:hover {
  transform: rotate(3deg);
  background-color: orange;
  color: #333333;
}

.pricing-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5);

  background: #333333;

  height: 50px;
}
.pricing-desc:hover {
  background-color: orange;
  transform: scale(1.2);
  color: #333333;
}
