.review {
  padding: 80px 0 119px 0;
  width: 100%;
}
.review-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 -15px 0;
}

.review-item {
  width: 298px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.review-text {
  position: relative;
}
.review-text::after {
  content: "";
  position: absolute;

  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #e2e2e2;
  top: 100%;
  left: 39px;
}
.review-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 9px 22px 6px 23px;

  background: #e2e2e2;
  border-radius: 7px;
}
.review-photo {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 22px;
}
.photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.review-initials {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #333333;
}
.position {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;

  color: #86878b;
}
